body {
   
    background-color: lightgray;
    font-family: Courier;
}

button {
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 5px;
    font-weight: 550;
}

div.log-in-form {
    padding: 5px;
}

div {
    display: block;
    padding: 5px;

}

div.preferences{
    padding: 15px;
}

.newspaper {
    background:url("../photos/Newsbackground2.jpeg");
    opacity: .25;
}

h3.color {
    color : green;
}

div.button {
    padding-top: 10px;
}

#noneall a {
    text-decoration: none;
}