body {
   
    background-color: lightgray;
    font-family: Courier;
}

button {
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 5px;
    font-weight: 550;
    height: 40px;
    width: 100px; 
    position: relative;
    margin-left: 100%;
}

button.log{
    position: relative;
    right: 990px;
    text-align: center;
    height: 30px;
    width: 90px;
}

button.save{
    width: 100%;
    position: relative;
    right: 1019px;
    text-align: center;
    height: 29px;
    width: 150px;
    
}

button#preferences{
    position:relative;
    text-align: center;
    height: 35px;
    width: 150px;
    
}


div.log-in-form {
    padding: 5px;
}

div {
    display: block;
    padding: 5px;

}

div.preferences{
    padding: 15px;
}

.newspaper {
    background:url("../photos/Newsbackground2.jpeg");
    opacity: .25;
}

h3.color {
    color : green;
}

div.button {
    padding-top: 10px;
}

#noneall a {
    text-decoration: none;
}

h1#login-welcome {
    font-size: 50px;
}